h1 {
    color: #F5E327;
}

h2 {
    color: #F5E327;
}

.big-box {
    border: 1px solid #F5E327;
    box-shadow: #F5E327 0px 7px 29px 0px;
}

.box {
    border: 1px solid #F5E327;
    box-shadow: #F5E327 0px 7px 29px 0px;
}
