h1 {
    color: #ff8900;
}

h2 {
    color: #ff8900;
}

.big-box {
    border: 1px solid #ff8900;
    box-shadow: #ff8900 0px 7px 29px 0px;
}

.box {
    border: 1px solid #ff8900;
    box-shadow: #ff8900 0px 7px 29px 0px;
}
