h1 {
    color: #3def42;
}

h2 {
    color: #3def42;
}

.big-box {
    border: 1px solid #3def42;
    box-shadow: #3def42 0px 7px 29px 0px;
}

.box {
    border: 1px solid #3def42;
    box-shadow: #3def42 0px 7px 29px 0px;
}
