h1 {
    color: #E90530;
}

h2 {
    color: #E90530;
}

.big-box {
    border: 1px solid #E90530;
    box-shadow: #E90530 0px 7px 29px 0px;
}

.box {
    border: 1px solid #E90530;
    box-shadow: #E90530 0px 7px 29px 0px;
}
