h1 {
    color: #0026ff;
}

h2 {
    color: #0026ff;
}

.big-box {
    border: 1px solid #0026ff;
    box-shadow: #0026ff 0px 7px 29px 0px;
}

.box {
    border: 1px solid #0026ff;
    box-shadow: #0026ff 0px 7px 29px 0px;
}
